/*this player works with most of the browsers
this player works in ios
this player works with the main video streaming formats live dash hls mp4 youtube
________________________________________________
for all those who want to create a videojs player and do not have a javascript reference
________________________________________________*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #000000;
}

.video-js {
  position: absolute;
  top: 99px;

}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -51px;
  position: absolute;
  }
.ombres_multiples_diffuses {
  box-shadow: inset 0 0 1em gold, 0 0 1em white;
  /* deux ombres dans la liste et des rayons de flou pour chacune */
}
https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd
